<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">

	<bean id="customerMenu"
		class="org.dealoftheday.admin.menu.MenuItem" 
		p:id="customerMenu"
		p:label="Customers" 
		p:link="app/customer/customerHome.xhtml" />

	<bean id="cityMenu" 
		class="org.dealoftheday.admin.menu.MenuItem"
		p:id="cityMenu" 
		p:label="Cities" 
		p:link="app/city/cityHome.xhtml" />

	<bean id="partnerMenu"
		class="org.dealoftheday.admin.menu.MenuItem" 
		p:id="partnerMenu"
		p:label="Partners" 
		p:link="app/partner/partnerHome.xhtml" />

	<bean id="userMenu"
		class="org.dealoftheday.admin.menu.MenuItem" 
		p:id="userMenu"
		p:label="Users" 
		p:link="app/user/userHome.xhtml" />

	<bean id="menu" class="org.dealoftheday.admin.menu.MenuItem"
		p:id="root">
		<property name="children">
			<list>
				<bean id="managementTopMenu"
					class="org.dealoftheday.admin.menu.MenuItem"
					p:id="managementTopMenu" p:label="Management" p:roles="ROLE_ADMIN">
					<property name="children">
						<list>
							<ref bean="customerMenu" />
							<ref bean="cityMenu" />
							<ref bean="partnerMenu" />
							<ref bean="userMenu" />
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="menuManager"
		class="org.dealoftheday.admin.menu.MenuManager">
		<property name="menuData" ref="menu" />
	</bean>

</beans>
