@charset "ISO-8859-1";

html, body {
	margin: 0px;
	padding: 0px;
	background-repeat: repeat-x;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.button {
	width: 85px;
}

.addIcon {
	font-size: 2rem;
	color: #4f4f4f;
}

.searchTitle {
	font-size: 24px;
	font-weight: bold;
	display: block;
}

.center {
	margin: 0 auto;
}

.right {
	float: right;
}

.left {
	float: left;
}

.paddDiv5_10 {
    padding: 5px 10px;
}

.paddDiv10_10 {
    padding: 10px 10px;
}

.dropDownYNWidth {
	min-width: 36px !important;
}

.ui-message {
	z-index: 1000;

}
	
.headerIcon {
    font-size: 2rem;
}

/*primefaces re-write properties*/
a:link {
	text-decoration: none;
}

.ui-datatable thead th {
	padding-left: inherit !important;
}

