@charset "ISO-8859-1";

html, body {
	margin: 0px;
	padding: 0px;
	background-repeat: repeat-x;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.button {
	width: 85px;
}

.bigIcon {
	font-size: 2rem;
	color: #4f4f4f;
}

.searchTitle {
	font-size: 24px;
	font-weight: bold;
	display: block;
}

.center {
	margin: 0 auto;
}

.right {
	float: right;
}

.left {
	float: left;
}

.margin-right7 {
	margin-right: 7px;
}

.paddDiv5_10 {
    padding: 5px 10px;
}

.paddDiv10_10 {
    padding: 10px 10px;
}

.dropDownYNWidth {
	min-width: 36px !important;
}

.idCityClass {
	width: 30px;
}

.dropDownCategory {
	width: 183px !important;
}

.searchNoWrap {
	white-space: nowrap;
}

/*primefaces re-write properties*/
a:link {
	text-decoration: none;
}

.ui-datatable thead th {
	padding-left: inherit !important;
	white-space: nowrap;
}

.ui-datatable tbody td.actions {
	white-space: nowrap !important;
}

.ui-datatable tbody td.data {
  	overflow: hidden !important;
  	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.ui-datatable .ui-sortable-column-icon {
    margin: -3px 0 -3px -1px !important;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend.leftSight{
	width:70%;
	height:220px;
	white-space: nowrap !important;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend.rightSight{
	width:30%;
	height:220px;
	white-space: nowrap !important;
}

/*END primefaces re-write properties*/

